  body{margin:0;font-family:calibri;font-size:14.5;font-style:bold;
      background:linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);}
      h1{background:#d6d8d8; color:#fff;font-family:Harlow solid italic; padding:4.5%; opacity:80%;font-size:47;}
      .gil1{display:inline-block; margin-left:-3;color:#000; padding:.3%; margin-top:-10px;
            display:flex; position:sticky;letter-spacing:1%;font-size:10px;background:linear-gradient(to bottom, #6f716f, #6f716f, #5f615f,#5f615f,#4d4f4d);}
      .gil1>.gil2{border-radius:5em;word-spacing:.5em;}
      .gil1>.gil2>a:hover{color:#4b4e4f;text-decoration:none;background:#670b0b; padding:1; border-radius:3px;}
      a:visited{color:#fff;text-decoration:none; letter-spacing:.4%;}
      a:link{color:; text-decoration:none;}
      #span1{font-size:12; color:#000;}
      #divright{float:right; margin-right:10;
                padding:1%; background:#d6d8d8; color:#fff;opacity:60%;}
      .divcenter{background:#fff;color:#4b4e4f;margin-left:-5; margin-right:-5;max-width:100% auto;border:.5em #d6d6d6 thin;margin-top:-20;
                 ;padding:1em;}
       .divcenter>.gilp1{width:auto;border:auto; padding:4%; margin-left:10;margin-right:10; font-family:calibri;font-size:15; letter-spacing:.3em;
         word-spacing:.2em;} 
      #gilflex1{display:inline-block;display:flex;flex-flow:column wrap; align-text:left" margin:auto; width:100%; 
        background:linear-gradient(to bottom, #dbe4f6, #dbe4f6, #dbe4f6,#e1e8f6,#fff); padding:1%;}
      .gilflex2{color:#4b4e4f; flex:1 100%;margin:;width:100%;height:100%; border:auto; padding:4%; margin-left:5;margin-right:5; font-family:calibri;font-size:15; letter-spacing:.3em; word-spacing:.2em;}
      .gilflex2>a:hover{color:#fff;text-decoration:none;background:none; padding:1; border-radius:3px;}
                 a:visited{color:#fff;text-decoration:none; letter-spacing:.4%;}
                 a:link{color:#fff; text-decoration:none;}
      #footergil{display:flex;background:linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);position:sticky;
        color:#fff; margin-right:-5;margin-left:-5;padding:1%;width:auto; padding:3%; font-family:calibri; letter-spacing:.3em; word-spacing:2em;
        align-item:center;}
      .gilfooter2{ pading:1%;letter-spacing:.3; word-spacing:.3; font-size:11; margin:auto;}
      .gilp2{max-width:100%; border:auto; padding:4%; margin-left:5;margin-right:10; font-family:calibri;font-size:15; letter-spacing:.3em;
        word-spacing:.2em;}
       #gilflex1-2{display:inline-block;display:flex;flex-flow:row wrap; margin:auto; width:100%; background:linear-gradient(to bottom,#fff, #fff, #fff,#fff,#fff); padding:1%;}
.gilh1{letter-spacing:.5em; font-size:52; font-family:calibri;
  background-color:#f1f1f1;padding:5%;margin-top:0;margin-left:0;margin-right:0;height:100% auto;}
        .logo{width:150px;height:150px;}
     .gilp1{max-width:100%; border:auto; padding:4%; margin-left:5;margin-right:10; font-family:calibri;font-size:15; letter-spacing:.3em;
        word-spacing:.2em;}
/*----------------------Drop Down menu----------------*/
.dropbtn {
  color: whitesmoke;
  padding:12px;
  font-size: 13px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3a3f3a;}
/*----------------------Drop Down menu End----------------*/





