  body{font-family:calibri;font-size:14.5;font-style:bold;
		background:linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);
	  }
      .divcontent{background:transparent; color:#2058c7; padding:4.5%; opacity:80%;font-size:77 auto;}
      .gil1{display:inline-block; margin-left:-3;color:#000; padding:.3%; margin-top:-10px;
            display:flex; position:sticky;letter-spacing:1%;font-size:10px;background:linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);}
      .gil1>.gil2{border-radius:5em;word-spacing:.5em;}
      .gil1>.gil2>a:hover{color:#4b4e4f;text-decoration:none;background:#670b0b; padding:1; border-radius:3px;}
      a:visited{color:#fff;text-decoration:none; letter-spacing:.4%;}
      a:link{color:; text-decoration:none;}
	  .gilarea{font-size:23;background:#fff; display:flex;flex-direction:row; border-radius:5px 5px 5px 5px;}
	  .gilarea:after{flex-direction:column;display:block;}
	  .gilarea1{ margin:10px; padding:2%;background:whitesmoke;}
	  .gilarea1:hover{background:#e5e5e5; border-radius:5px 5px 5px 5px;}
	  .gilarea1>img:hover{opacity:90%;}
	  .gilarea1>img{width:100%;height:auto; opacity:90%;}
	  .logoimg{width:45px;top:3%;left:88%;position:absolute;background:coffee;padding:0%;border-radius:50px;border:2px solid #fff;}
		.logoimg:hover{border-radius:50%;background:whitesmoke;cursor:pointer;}
	  #hide{border:2px solid #d11dd1; padding:4px;border-radius:5px;color:gray; cursor:pointer;
				font-size:12px;}
	  #show{border: 2px solid #d11dd1; padding:4px;border-radius:5px;color:gray;cursor:pointer;
				font-size:12px;}
	  #hide1{border:2px solid #d11dd1; padding:4px;border-radius:5px;color:gray; cursor:pointer;
				font-size:12px;}
	  #show1{border: 2px solid #d11dd1; padding:4px;border-radius:5px;color:gray;cursor:pointer;
				font-size:12px;}


     

	 .gilresponce{
		 width:800px;
		 margin:50px auto 0;
		 dispaly: table;
		 box-sizing:border-box;
	 }
		.gilrow{
			margin:20px 0;
		}
		.gilcolumn{
			background:#ccc;
			dispaly:table-cell;
			padding:10px;
			width:33.333333%;
			text-align:center;
			color:#fff;
			vertical-align:center;
			border-left:10px solid #fff;
			border-right:10px solid #fff;
		}		
		.gilrow:nth-child(1) .gilcolumn:nth-child(1)
		{
			background:#596270;
		}
		.gilrow:nth-child(1) .gilcolumn:nth-child(2)
		{
			background:#596270;
		}
		.gilrow:nth-child(1) .gilcolumn:nth-child(1)
		{
			background:#596270;
		}
		.gilrow:nth-child(2) .gilcolumn:nth-child(2)
		{
			background:#596270;
		}
		@media (max-width: 900px;)
		{
			.gilresponce{
				margin: 0;
				padding: 10px;
				width:100%;
				 
			}
			.gilcolumn{
				width:100%;
				display:block;
				
				
				
			}
		}



	#footergil{display:flex;background:linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);position:sticky;
        color:#fff; margin-right:-5;margin-left:-5;padding:1%;width:auto; padding:3%; font-family:calibri; letter-spacing:.3em; word-spacing:2em;
        align-item:center;}
      .gilfooter2{ pading:1%;letter-spacing:.3; word-spacing:.3; font-size:11; margin:auto;}
       #gilflex1-2{display:inline-block;display:flex;flex-flow:row wrap; margin:auto; width:100%; background:linear-gradient(to bottom,#fff, #fff, #fff,#fff,#fff); padding:1%;}
.gilh1{letter-spacing:.5em; font-size:52; font-family:calibri;
  background-color:#f1f1f1;padding:5%;margin-top:0;margin-left:0;margin-right:0;height:100% auto;}
        .logo{width:150px;height:150px;}
     .gilp1{max-width:100%; border:auto; padding:4%; margin-left:5;margin-right:10; font-family:calibri;font-size:15; letter-spacing:.3em;
        word-spacing:.2em;}
		    .gilp1-1{max-width:100%; border:auto; padding:4%; margin-left:5;margin-right:10; font-family:calibri;font-size:11	; letter-spacing:.3em;
        word-spacing:.2em;}
		h3,h1{color:#d11dd1;}
		 .gilp12{max-width:100%; border:auto; padding:1%; margin-left:2;margin-right:6; font-family:calibri;font-size:13; letter-spacing:.3em;
        word-spacing:.2em; background:white; border-radius:5px;}
			.gilp13{background:whitesmoke;border-radius:5px;padding:1%;}
			.gilp13:nth-child{background:#d8d8d9;}
			.gilp12-1{max-width:100%; border:auto; padding:1%; margin-left:2;margin-right:6; font-family:calibri;font-size:13; letter-spacing:.3em;
        word-spacing:.2em; background:white; border-radius:5px;}
			.gilp14{background:whitesmoke;border-radius:5px;padding:1%;}
			.gilp14:nth-child{background:#d8d8d9;}
			
/*----------------------Drop Down menu----------------*/
.dropbtn {
background:transparent;
  color: whitesmoke;
  padding:12px;
  font-size: 13px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background:linear-gradient(to bottom, #183e8a, #183e8a, #173675,#173675,#173675);
							text-decoration:none;color:#fff;
							font-size:10px;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:transparent;
							color:#5ef540;}
/*----------------------Drop Down menu End----------------*/





